<template name="agreement">
      <section class="step help">

            <h1>Privacy</h1>

            <h2>Privacy Policy &amp; Terms Of Use</h2>

            <h3>Personal Information</h3>
            <p>We do not request or store sensitive information from our users.</p>

            <h3>Route Use and Volunteer Disclaimer</h3>
            <p>I understand that if I choose to voluntarily collect route data; I do so of my own accord and not at the direction of Alameda County Transportation Commission/Alameda County Safe Routes to Schools. I release and forever discharge and hold harmless the Alameda CTC/SR2S from any claim or liability arising from my participation in this mapping initiative.</p>

            <h3>OpenStreetmap (OSM) Source and Disclaimer</h3>
            <p>openstreetmap.org</p>
            <p>"OpenStreetMap is an editable map of the whole world, which is being built largely from scratch using GPS traces, and released with an open content license. The OpenStreetMap License allows free (or almost free) access to our map images and all of our underlying map data, and the project aims to promote new and interesting uses of this data ..." Read more on: http://wiki.openstreetmap.org.</p>
            <p>The data sources for routing and mapping are based on free and open and even collaborative volunteered data collection efforts. Therefore we cannot guarantee any quality of the displayed data and the routing results.
            We are not responsible for any errors, mistakes, omissions or other problems with the used data and occurring from using this service.</p>
        </section>
</template>
