<template name="faqs">
  <section class="step faqs help">

    <h1>FAQs</h1>

    <h2>Privacy questions</h2>

    <h3>Do I have to allow location access for it to work?</h3>
    <p>Yes, we need your phone to allow location access for us to track your trips</p>

    <h3>What data are you tracking?</h3>
    <p>We only track your location data, we don’t pull any other data from your phone.</p>

    <h3>Who gets the data tracked?</h3>
    <p>All data goes to Alameda County Transportation Commission (ACTC) and only to ACTC. We don’t share any collected information with third parties.</p>

    <h3>If you’re tracking my location data, do you know where I live?</h3>
    <p>No, we don’t. When you activate the app, we create a privacy buffer around your starting point, and we don’t track data within that buffer.</p>

    <h3>Do I have to use the app to stop tracking my route once I get to school?</h3>
    <p>No, the app automatically ends your trip when you get within a certain distance of your school, as long as you have chosen a destination school.</p>

    <h3>What if I don’t have a cell phone?</h3>
    <p>You can always track your trips on our website (weblink).</p>

    <h2>Operational questions</h2>

    <h3>What if I’m using multiple modes to get to school?</h3>
    <p>Select each mode of transportation you are using.</p>

    <h3>What do I do if I’m carpooling?</h3>
    <p>Select the car icon both for driving alone to school or going in a carpool.</p>

    <h3>What if I’m using a scooter or another mode?</h3>
    <p>Select the pedestrian icon.</p>

    <h3>What if I see a safety issue or something that needs fixing on my route?</h3>
    <p>Hit the “!” button on the map to report an issue on your route that needs fixing.</p>

    <h3>Can I manually end trip tracking before I get to school?</h3>
    <p>Yes, just hit the “X” button on your map screen to end route tracking.</p>

  </section>
</template>
