<template name="usingthemap">
  <section class="step faqs">

  	<h2>Using The Map</h2>

    <ul>
    	<li><div class="map-your-location"></div> This is your position</li>
    	<li><div class="map-privacy-buffer"></div> This is a privacy buffer to conceal your starting location. Your location is not recorded while inside this buffer.</li>
    	<li><div class="map-end"></div> Select this button to end route tracking</li>
    	<li><div class="map-issue"></div> Select this button to report an issue</li>
    	<li><div class="map-school"></div> This is your school and a school buffer. Tracking automatically ends once you are inside the school buffer</li>
    </ul>

  </section>
</template>
