h1 {
	font-size: 1.75em;
}

#add-button,
#cancel-button,
#start-form,
#add-image,
#remove-image,
.delete-marker {
	font-size: .875em;
	letter-spacing: .025em;
	padding: .6875rem 1.5rem;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.endtracking,
#add-def {

	&:hover {
		background-color: #f8f8f8;
	}
}

.heading {
	padding-top: 1.5rem;
}

.help-modal,
#nav-bg,
#menu-check {
	top: 1.5rem;
}

#menu-label {
	top: 2.875rem;
}

.exit-modal {
	padding: 4% 8% 0 0;
}
