header {
	border-top: none;
}

.heading {
	padding-top: 0;
}

.help-modal,
.nav-bg,
#menu-check {
	top: 0;
}

#menu-label {
	top: 1.375rem;
}

.leaflet-draw.leaflet-control,
.leaflet-container .leaflet-top {
	top: 3rem;
}

.endtracking {
	top: 12.075rem;
}

#add-def {
	top: 9.075rem;
}
