@keyframes click-animation {
	0% {
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale3d(1.2, 1.2, 1);
	}
}

@-webkit-keyframes click-animation {
	0% {
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale3d(1.2, 1.2, 1);
	}
}

@keyframes modale {
	0% {
		@include vendor-prefix(transform, scale(.8));
	}
	50% {
		@include vendor-prefix(transform, scale(1.2));
	}
	100% {
		@include vendor-prefix(transform, scale(1));
	}
}

@-webkit-keyframes modale {
	0% {
		@include vendor-prefix(transform, scale(.8));
	}
	50% {
		@include vendor-prefix(transform, scale(1.2));
	}
	100% {
		@include vendor-prefix(transform, scale(1));
	}
}

@keyframes loader {
  0% {
  	left: 90%;
  	top:0
  }
  65% {
  	height: 25px;
  	left: 0;
  	top:0;
  	width: 25px;
  }
  70% {
  	left: 0;
  	top: 15px;
  	width: 25px;
  	height: 10px;
  }
  75% {
  	left: 0;
  	top: -60px;
  	width: 25px;
  	height: 45px;
  }
  80% {
  	height: 25px;
  	left: 0;
  	top: -60px;
  	width: 25px;
  }
  90% {
  	left: 90%;
  	top: -60px;
  	width: 45px;
  	height: 25px;
  }
  95% {
  	height: 25px;
  	left: 90%;
  	top: -60px;
  	width: 25px;
  }
  100% {
  	left: 90%;
  	top:0;
  }
}

@-webkit-keyframes loader {
  0% {
  	left: 90%;
  	top:0
  }
  65% {
  	height: 25px;
  	left: 0;
  	top:0;
  	width: 25px;
  }
  70% {
  	left: 0;
  	top: 15px;
  	width: 25px;
  	height: 10px;
  }
  75% {
  	left: 0;
  	top: -60px;
  	width: 25px;
  	height: 45px;
  }
  80% {
  	height: 25px;
  	left: 0;
  	top: -60px;
  	width: 25px;
  }
  90% {
  	left: 90%;
  	top: -60px;
  	width: 45px;
  	height: 25px;
  }
  95% {
  	height: 25px;
  	left: 90%;
  	top: -60px;
  	width: 25px;
  }
  100% {
  	left: 90%;
  	top:0;
  }
}
