// Vars
// Colors
$textColor: #474b4e;
$bg: #e8e8e8;
$lightGrey: #C0C1C2;
$black: #434f48;
$pc: #BDEAD0;
$purple: #8A0DDF;
$approve: #0DC083;
$cancel: #bababa;
$green: #afffbf;
$red: #EF483A;
$lightRed: #efbeb2;
$blue: #00BBFF;

// Text
$sans: 'opensans', sans-serif;
$display: 'trackregular', sans-serif;
$light: 300;
$med: 400;
$bold: 700;

// Spacing
$padding: .75rem;
$margin: 1.5rem;
